.box {
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-gap: 30px;
}

/*#elm-node {
    width: 100%;
    max-width: 500px;
    border: 1px solid #525252;
    border-radius: 5px;
}*/

svg {
    width: 100%;
    max-width: 500px;
    border: 1px solid #525252;
    border-radius: 5px;
}
