.box {
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-gap: 30px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
    height: 100%;
}

.container input, .container button {
    margin: 10px;
    font-size: 1rem;
    padding: 5px 10px;
}

svg {
    border: 1px solid #ccc;
}
