html, body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    width: 100%;
}

#text-input {
    margin-bottom: 20px;   
    padding: 10px;         
    width: 250px;          
    border: 1px solid #ccc;
    border-radius: 4px;
}

h1 {
    align-self: flex-start;
    margin-bottom: 25px;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 20px;
    box-sizing: border-box;

}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #999;
    border-radius: 4px;
    margin-bottom: 10px;   
}

svg {
    border: 1px solid black;
    width: 100%;      
    height: 70vh;   
}
